@import './config';

.results{
    background-color: $box-color;
    margin: 10px 0; 
    padding: 10px;  
    border-radius: 5px; 
}

.results-border{
    border: 2px solid $accent-color;
    border-radius: 5px;
    padding: 10px;
}

.results-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendation-num-results-input{
    color: transparent;
    text-shadow: 0 0 0 black;
    width: 30px;
    text-align:center;
}

.recommendation-num-results{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.recommendation-num-results-header{
    margin-right: 10px;
    // color: $accent-color;
    font-size: 14px;
}

.results-heading{
    margin-bottom: 10px;
    margin: 0 auto;
}

.results-content{
    max-height: 595px;
    overflow-y: auto;
}

.results-hide{
    @include colorButtonSmall($accent-color);
    
    .results-hide-btn{
        width: 10px;
    }
}

.results-display-section{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 5px;
    position: relative;
}

.recommend-btn{
    width: 25px;
}

.results-track-name, .results-artist-name{
    color: $accent-color;
    font-weight: 700;
}

.results-details-track, .results-details-artist{
    margin: 5px 0;
}

// .results-details{
//     width: 70%;
// }


// .results-play-sample,  .results-options{
//     width: 10%;
//     display: flex;
//     justify-content: center;
//     align-items: flex-start;
// }

.results-options{
    position: relative;
}

.song-dropdown-options{
    position: absolute;
    top: 35px;
    right: -30px;
    display: inline-block;
    background-color: white;
    width: 150px;
    border-radius: 5px;

    li{
        color: $box-color;
        padding: 5px;
        border-radius: 1px;
        border: 1px solid $box-color;
        text-align: center;
    };
}


.result-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.add-to-playlist{
    @include colorButtonSmall($primary-color);
}

.new-result-search{
    @include colorButtonSmall;
}

