<div class="help invisible">

    <h3 class="help-heading">How to use this website</h3>

    <h4 class="help-highlight">Objective</h4>
    <p class="help-par"> 
        1) Get a list of recommended songs based on the artists, 
        tracks and genres of your choice. Tinker with a range of features such as 
        danceability, tempo and many more to realise your vision as much as possible. 
    </p>

    <p class="help-par">
        2) If you are happy with the recommendations, add the songs to a current playlist, or
        create a new playlist to add the songs to. 
    </p>

    <p class="help-par">
        3) Open Spotify and check out your new or altered playlist. 
    </p>
    

    <h4 class="help-highlight">Instructions</h4>
    <p class="help-par" >
        <span class="help-highlight-super">Required Features</span> - <span class="help-highlight">For each feature in the required section ( artist, track and genre ) , 
        select at least one of each, with a maximum of 5 per field. 
        You must select at least one artist AND one track AND one genre.</span>
    </p>
    <p class="help-par">
        You can further fine tune your search result by using <span class="help-highlight">audio features</span>. To activate an audio feature, tick the box 
        next to the feature.
        Just use the slider to set the desired level. If you want to cancel an activated feature, tick the box again.
    </p>
    <p class="help-par">
        There is also an option to add more features than the basic features through the <span class="help-highlight">advanced features</span>
        option. 
    </p>
    <p class="help-par">
        Then  <span class="help-highlight"> search </span>. The recommended songs will be displayed. If you want to add these
        to a playlist, select the <span class="help-highlight">add to playlist</span> option. You can then either create a new playlist or add the songs
        to an existing playlist. If you created a <span class="help-highlight">new playlist</span>, you have to go to the existing playlist section, select the newly created
        playlist and then add the songs to that playlist. 
    </p>

    <p class="help-par">
        And remember - <span class="help-highlight">choose at least one artist AND one track AND one genre.</span> The rest is up to you. 
    </p>



    <div class="help-back-div">
        <p class="help-back">Back</p>
    </div>
    
    
</div>
