<div class="home-login-container">    
    <div>
        <div class="poster">
            <h1 class="poster-main-message">
                Discover music you love
            </h1>
            <p class="poster-sub-message">
                You tinker and let the spotify algorythm do the rest
            </p>
        </div>
        <div class="body-message-section">
            <p class="body-message">
                Find those hidden gems based on similar artists, similar tracks and
                genres. Tweak parameters such as tempo, danceability and many more. All you need is a Spotify Account (it’s free!). 
            </p>
        </div>
    </div>
    
    <div class="login-section">
        <div class="login-section-text">    
            <a href="/login">
                <span> Login with </span>
                <img class="spotify-logo" src="../imgs/Spotify_Logo.png" alt="">
            </a>
        </div>  
    </div>
</div>

