
<div class="playlist-container invisible">

    <h3 class="header-title">Add to playlist</h3>
    <p class="explain-par"> Add the recommendations to a playlist</p>

    <div class="pl-div existing-pl-div">
        <h3 class="sub-header-title">Add to existing playlist</h3>
        <div>
            <select name="existing-pl" id="existing-pl"></select>
        </div>
        <button class="pl-button pl-old-btn">Add to playlist</button>
    </div>
    <div class="pl-div new-pl-div">
        <h3 class="sub-header-title">Create new playlist</h3>
        <p class="new-pl-info">Create a new playlist - THEN go to add to existing playlist and add the songs to the newly created playlist</p>
        <div>
            <input class="new-pl" type="text">
        </div>
        <button class="pl-button pl-new-btn"> 
            Create Playlist
        </button >
    </div>

    <div>
        <button class="back-from-playlists">Back</button>
    </div>



</div>




